<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My project</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        Hello, {{ user.username }}
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <p>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </p>
                        <p>
                            <a href="{% url "list_projects" %}">My Projects</a>
                        </p>
                    {% else %}
                        <li>
                            <a href="{% url "signup" %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">Create new Projects</a>
                </p>
                {% if list_projects %}
                    <table class="Project-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in list_projects %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You are not assigned to any projects.</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
